<footer class="footer mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h6 class="text-muted">2024 &copy; Copyright All Rights Reserved.</h6>
      </div>
    </div>
  </div>
</footer>
