<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="text-center mt-5">
        <h1>Welcome to Hospital Management System</h1>
        <p class="lead">Doctor Apppointment System</p>
        <p class="lead">IPD Management</p>
      </div>
    </div>
  </div>
</div>
